<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Carrito de Compras - FERREMAS</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <button onclick="history.back()">⬅ Volver</button>
</head>

<body>
    <h1>Carrito de Compras</h1>
    <table>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
        </tr>
        {{productos}}
    </table>
    <p>{{mensaje_carrito}}</p>
    <p>Total: {{total}}</p>
    <a href="/checkout">Continuar con la compra</a>

</body>

</html>