<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Catálogo - FERREMAS</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>Catálogo de Productos</h1>
    <div id="catalogo">
        <!-- Simulación de productos -->
        <div class="producto">
            <img src="../static/img/taladro.jpg" alt="Taladro">
            <h3>Taladro Bosch</h3>
            <p>$45.990</p>
            <a href="product_detail.html?codigo=001">Ver más</a>
        </div>
        <div class="producto">
            <img src="../static/img/martillo.jpg" alt="Martillo">
            <h3>Martillo Stanley</h3>
            <p>$7.990</p>
            <a href="product_detail.html?codigo=002">Ver más</a>
        </div>
    </div>
</body>
</html>
