<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Catálogo - FERREMAS</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <button onclick="history.back()">⬅ Volver</button>
        <div id="catalogo">
        <a href="/agregar_producto">
            <button>➕ Agregar Nuevo Producto</button>
        </a>
    </div>
</head>

<body>
    <h1>Catálogo de Productos</h1>

    <div id="catalogo">
        <!-- Aquí se insertarán los productos -->
        {{productos}}
    </div>
</body>

</html>