<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{{nombre}} - FERREMAS</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <button onclick="history.back()">⬅ Volver</button>
</head>

<body>
    <div id="producto-detalle">
        <h1>{{nombre}}</h1>
        <img src="{{imagen}}" alt="{{nombre}}" style="width: 200px;">
        <p>{{descripcion}}</p>
        <p>Precio: ${{valor}}</p>
        <p>Stock: {{stock}}</p>
        <a href="/add_to_cart?codigo={{codigo}}">Agregar al carrito</a>
    </div>
</body>

</html>
